dj-database-url==0.4.0
Django==1.9.2
gunicorn==19.4.5
psycopg2==2.6.1
whitenoise==2.0.6
django-colorfield
attachments
django_mptt_admin
django_summernote
elasticsearch
docutils
django-haystack
django_notifications
urllib3
