dj-database-url==0.4.0
Django==1.9.6
django-attachments==1.0
django-colorfield==0.1.10
django-haystack==2.4.1
django-model-utils==2.5
django-mptt==0.8.4
django-mptt-admin==0.3.6
django-notifications-hq==1.1
django-summernote==0.8.5
elasticsearch==2.3.0
env==0.1.0
gunicorn==19.4.5
jsonfield==1.0.3
Pillow==9.0.0
psycopg2==2.6.1
pytz==2016.4
simplejson==3.8.2
six==1.10.0
urllib3==1.15.1
virtualenv==15.0.1
whitenoise==2.0.6
django-tenants

