<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'core/vendor/../../static/core/js/vendor/webui-popover/src/jquery.webui-popover.css' %}">

    <title>Teledirect - {% block title %}{% endblock %}</title>
</head>
<body>
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<header id="header">
    <div class="col-md-2 col-xs-2" id="logo">
        <a href="#">
            <img src="{% static 'core/img/logo1.jpg' %}" style="width: 100%">
        </a>
    </div><!-- logo -->

    <div class="col-md-8 col-xs-8">
        <button class="search_section" type="button" id="search_categories">Categories</button>
        <button class="search_section" type="button" id="search_sorting">Sorting</button>

        <form id="search_bar" method="GET" action="#" class="disable-mobile">
            <input class="search_section" id="search_field" type="text" name="keyword" value=""
                   placeholder="What are you looking for ?"
                   autocomplete="off">
        </form>
    </div><!-- search -->


    <div class="col-md-2 col-xs-2 btn-group">
        <a class="login-url" href="javascript:void(0)" data-toggle="modal">Login or Register</a>
    </div><!-- avatar -->
</header>

<div class="app_content">
    <div class="Categories Module SearchGuidesBar" data-component-type="47" style="display: none">
        <div class="guidesWrapper centeredWithinWrapper">
            <div class="guidesSlider">
            </div>
            <a unselectable="on" class="navigator left" style="display: none;">
                <em></em>
            </a>
            <a unselectable="on" class="navigator right" style="display: inline;">
                <em></em>
            </a>
        </div>
    </div>


    <div class="col-md-12 col-xs-12" id="header_sidebar" style="display: none"></div>

    <div class="col-md-2 disable-mobile left-sidebar" style="display: none">

        <div class="widget widget-btn">
            <button type="button" data-toggle="modal" class="action post-article">
                <i class="fa fa-plus"></i>Create article
            </button>
        </div><!-- END BUTTON MODAL article -->

        <div class="widget widget-menus">
            <div class="menu-left-menu-container">
                <ul id="menu-left-menu-1" class="menu">
                    <li class="fa-articles"><a href="#"><i class="fa fa-articles"></i>Articles</a></li>
                    <li class="fa-tags"><a href="#"><i class="fa fa-tags"></i>Tags</a></li>
                    <li class="fa-th-list"><a href="#"><i class="fa fa-th-list"></i>Categories</a></li>
                    <li class="fa-favorites"><a href="#"><i class="fa fa-trophy"></i>Favorites</a></li>
                </ul>
            </div>
        </div><!-- END LEFT MENU -->

        <div class="clearfix"></div>

        <!-- END / SOCIAL LINKs -->
        <div class="copyright">
            ©2016 Teledirect Pte Ltd <br>
            <a href="#">Terms & Privacy</a>
        </div>
    </div>


    <div class="col-md-8 main-content" style="display: none">
        {% block content %}
            <!-- CONTENT -->
        {% endblock %}
    </div>


    <div class="col-md-2 disable-mobile right-sidebar" style="display: none">
        <div class="widget widget-statistic">
            <ul>
                <li class="articles-count">
                    <p>articles</p>
                    <p>
                        <span>13</span>
                    </p></li>
                <li class="members-count">
                    <p>Members</p>
                    <p>
                        <span>10</span>
                    </p></li>
            </ul>
        </div><!-- END widget-statistic -->
        <div class="widget widget-related-tags">
            <h3>MOST USED TAGS</h3>
            <ul>
                <li>
                    <a class="q-tag"
                       href="">business</a> x
                    5
                </li>
            </ul>
            <a href="">See more tags</a>
        </div><!-- END widget-related-tags -->

        <div class="widget widget-hot-articles">
            <h3>HOT articles</h3>
            <ul>
                <li>
                    <a href="">
                    <span class="topic-avatar">
                    	<img itemprop="image"
                             src=""
                             class="avatar" alt="">                    </span>
                        <span class="topic-title">What are the best mobile apps for traveling?</span>
                    </a>
                </li>
            </ul>
        </div><!-- END widget-related-tags -->


    </div>

    <div class="footer-container" style="display: none">
        <footer class="wrapper">
            <!-- FOOTER -->
        </footer>
    </div>
</div>


<!-- MODAL -->
<div class="modal fade modal-submit-articles" id="reset_password" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Reset Password</h4>
            </div>
            <div class="modal-body">

                <form id="resetpass_form" class="form_modal_style">
                    <input type="hidden" id="user_login" name="user_login" value="">
                    <input type="hidden" id="user_key" name="user_key" value="">
                    <label>Enter your new password here</label>
                    <input type="password" class="name_user" name="new_password" id="new_password">
                    <input type="password" class="name_user" name="re_new_password" id="re_new_password">
                    <input type="submit" name="submit" value="Reset" class="btn-submit">
                </form>

            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-submit-articles" id="login_register" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Sign In</h4>
            </div>
            <div class="modal-body">
                <form id="signin_form" class="form_modal_style">
                    <label for="username">
                        Username or Email </label>
                    <input type="text" class="email_user" name="username" id="username">

                    <label for="password">
                        Password </label>
                    <input type="password" class="password_user" id="password" name="password">
                    <div class="clearfix"></div>
                    <input type="submit" name="submit" value="Sign in" class="btn-submit">
                    <a href="javascript:void(0)" class="link_forgot_pass">Forgot password</a>
                    <div class="submit-block">
                        <a href="javascript:void(0)" class="link_sign_up">Sign up here</a><span>or sign in with</span>

                        <ul class="social-icon clearfix">
                            <!-- google plus login -->
                            <li class="gp"><a id="signinButton" href="#" class="sc-icon color-google gplus_login_btn"><i
                                    class="fa fa-google-plus-square"></i></a></li>
                            <!-- twitter plus login -->
                            <li class="tw"><a href=""
                                              class="sc-icon color-twitter"><i class="fa fa-twitter-square"></i></a>
                            </li>
                            <!-- facebook plus login -->
                            <li class="fb"><a href="#" id="facebook_auth_btn"
                                              class="sc-icon color-facebook facebook_auth_btn"><i
                                    class="fa fa-facebook-square"></i></a></li>
                        </ul>
                    </div>

                </form>

                <form id="signup_form" class="form_modal_style">
                    <label for="username">
                        Username </label>
                    <input type="text" class="name_user" name="username" id="username">

                    <label for="email">
                        Email </label>
                    <input type="text" class="email_user" name="email" id="email">

                    <label for="password1">
                        Password </label>
                    <input type="password" class="password_user_signup" id="password1" name="password">

                    <label for="re_password">
                        Retype Password </label>
                    <input type="password" class="repeat_password_user_signup" id="re_password" name="re_password">


                    <div class="clearfix"></div>
                    <div class="gg-captcha">
                        <!-- reCaptcha -->
                        <div class="captcha-wrapper">
                            <div class="g-recaptcha" data-sitekey="6LeS8wYTAAAAAKL7TOlfNCX7RMB9SiUDSZdKI606">
                                <div>
                                    <div style="width: 304px; height: 78px;">
                                        <iframe src=""
                                                title="recaptcha widget" width="304" height="78" role="presentation"
                                                frameborder="0" scrolling="no" name="undefined"></iframe>
                                    </div>
                                    <textarea id="g-recaptcha-response" name="g-recaptcha-response"
                                              class="g-recaptcha-response"
                                              style="width: 250px; height: 40px; border: 1px solid #c1c1c1; margin: 10px 25px; padding: 0px; resize: none;  display: none; "></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <!-- reCaptcha / End -->
                    </div>
                    <input type="submit" name="submit" value="Sign up" class="btn-submit">
                    <a href="javascript:void(0)" class="link_sign_in">Sign in</a>

                    <div class="clearfix"></div>

                    <p class="policy-sign-up">
                        By clicking "Sign up" you indicate that you have read and agree to the <a target="_blank"
                                                                                                  href="">privacy
                        policy</a> and <a target="_blank" href="">terms
                        of service.</a></p>
                </form>

                <form id="forgotpass_form" class="form_modal_style collapse">
                    <label>Enter your email here</label>
                    <input type="text" class="name_user" name="email" id="email">
                    <input type="submit" name="submit" value="Send" class="btn-submit">
                </form>

            </div>
        </div>
    </div>
</div>
<script>
    {#{% url 'core:get_sorting_methods' %}#}
    GET_SORTING_METHODS = "";
    GET_CATEGORIES = "/article/get_categories/";
    GET_MASTER_CONTENT = "";
    GET_ARTICLES = "";
    {# ?favorites, ?sort_by...,  #}
    GET_SIDE_BAR_MENU = "";
    GET_TAGS = "";
    {# ?most_used, ?sort_by...,  #}
</script>
<script src="{% static 'core/js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'core/js/webui-popover/src/jquery.webui-popover.js' %}"></script>
<script src="{% static 'core/js/vendor/bootstrap.min.js' %}"></script>

{% load staticfiles %}
<script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>