<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang=""> <!--<![endif]-->

<head>
    {% load staticfiles %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{% static 'core/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'core/css/main.css' %}">
    <link rel="stylesheet" href="{% static 'core/js/vendor/webui-popover/src/jquery.webui-popover.css' %}">

    <link href='https://fonts.googleapis.com/css?family=PT+Sans+Caption:400,700' rel='stylesheet' type='text/css'>

    <title>Teledirect - {% block title %}{% endblock %}</title>
</head>
<body>
<!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

<header class="shadow_material" id="header">
    <div class="col-md-2 col-xs-2" id="logo">
        <a href="#">
            <img src="{% static 'core/img/logo1.png' %}" style="width: 100%">
        </a>
    </div><!-- logo -->

    <div class="col-md-8 col-xs-8" id="colSearchBar">
        <button class="search_section" type="button" id="search_categories">Categories</button>
        <button class="search_section" type="button" id="search_sorting">Sorting</button>

        <form id="search_bar" method="GET" action="#" class="disable-mobile">
            <input class="search_section" id="search_field" type="text" name="keyword" value=""
                   placeholder="What are you looking for ?"
                   autocomplete="off">
        </form>
    </div><!-- search -->


    <div class="col-md-2 col-xs-2 btn-group">
        <a class="login-url" href="javascript:void(0)" data-toggle="modal">Login or Register</a>
    </div><!-- avatar -->
</header>

<div class="app_content">
    <div class="Categories Module SearchGuidesBar" data-component-type="47" style="display: none">
        <div class="guidesWrapper centeredWithinWrapper">
            <div class="guidesSlider">
            </div>
            <a unselectable="on" class="navigator left" style="display: none;">
                <em></em>
            </a>
            <a unselectable="on" class="navigator right" style="display: none;">
                <em></em>
            </a>
        </div>
    </div>


    <div class="col-md-12 col-xs-12" id="header_sidebar" style=""></div>

    <div class="col-md-2 disable-mobile left-sidebar" style="">

        <div class="widget widget-btn">
            <button type="button" data-toggle="modal" class="action post-article">
                <i class="fa fa-plus"></i>Create article
            </button>
        </div><!-- END BUTTON MODAL article -->

        <div class="widget widget-menus">
            <div class="menu-left-menu-container">
                <ul id="menu-left-menu-1" class="menu">
                    <li class="fa-articles"><a href="#"><i class="fa fa-articles"></i>Articles</a></li>
                    <li class="fa-tags"><a href="#"><i class="fa fa-tags"></i>Tags</a></li>
                    <li class="fa-th-list"><a href="#"><i class="fa fa-th-list"></i>Categories</a></li>
                    <li class="fa-favorites"><a href="#"><i class="fa fa-trophy"></i>Favorites</a></li>
                </ul>
            </div>
        </div><!-- END LEFT MENU -->

        <div class="clearfix"></div>

        <!-- END / SOCIAL LINKs -->
        <div class="copyright">
            ©2016 Teledirect Pte Ltd <br>
            <a href="#">Terms & Privacy</a>
        </div>
    </div>


    <div class="col-md-12 main-content">
        {% block content %}
            <!-- CONTENT -->
        {% endblock %}
    </div>

    <div class="footer-container" style="display: none">
        <footer class="wrapper">
            <!-- FOOTER -->
        </footer>
    </div>
</div>

<script>
    GET_SORTING_METHODS = "";
    GET_CATEGORIES = "/article/get_categories/";
    GET_MASTER_CONTENT = "";
    GET_ARTICLES = "";
    GET_SIDE_BAR_MENU = "";
    GET_TAGS = "";
</script>
<script src="{% static 'core/js/vendor/jquery-1.11.2.min.js' %}"></script>
<script src="{% static 'core/js/vendor/jquery-ui-1.11.4.custom/jquery-ui.min.js' %}"></script>
<script src="{% static 'core/js/vendor/webui-popover/src/jquery.webui-popover.js' %}"></script>

<script src="{% static 'core/js/vendor/bootstrap.min.js' %}"></script>

{% load staticfiles %}
<script src="{% static 'core/js/main.js' %}"></script>
</body>
</html>