<div class="poll" id="4">
    <div class="header_poll">
        <div class="img_poll"><img src="#" alt="Poll 1_img"></div>
        <div class="title_poll">Poll 1</div>
    </div>
    <div class="body-poll">
        <div class="title-question">How much ?</div>
        <div class="choices">
            <div class="choice 1">Choice 4</div>
            <div class="choice 2">Choice 5</div>
            <div class="choice 3">Choice 6</div>
        </div>
        <div class="title-question">Bonjour ?</div>
        <div class="choices">
            <div class="choice 1">Choice 1</div>
            <div class="choice 2">Choice 2</div>
            <div class="choice 3">Choice 3</div>
        </div>
        <div class="title-question">How are you ?</div>
        <div class="choices">
            <div class="choice 1">Choice 1</div>
            <div class="choice 2">Choice 2</div>
            <div class="choice 3">Choice 3</div>
        </div>
    </div>
</div>