{% extends "core/base.html" %}

{% block title %}Acknowledgment Base{% endblock %}

{% block menu_sidebar %}
{#    A RECUPERER DYNAMIQUEMENT#}

    <div class="widget widget-menus">
        <div class="menu-left-menu-container">
            <div class="user_profile">
                <div id="img_profile" data-toggle="modal" data-target="#modal_change_img"></div>
                <div id="detail_profile">
                    <p class="username"></p>
                    <hr>
                    <p class="badge"></p>
                </div>
            </div>
            <ul id="menu-left-menu-1" class="menu base_menu static"></ul>
            <ul class="mega-shorcuts variable"></ul>
            <ul class="shorcuts variable"></ul>
            <ul class="pastilles variable"></ul>
        </div>
    </div>

    <div class="copyright static">
        ©2016 Teledirect Pte Ltd <br>
        <a href="#">Terms & Privacy</a>
    </div>

{% endblock %}

{% block content %}
{#    A RECUPERER DYNAMIQUEMENT#}
{#    <div class="action-bar">#}
{#        <a href="#" class="list-view"><i class="material-icons md-36 width36 color_view">view_module</i></a>#}
{#        <a href="#" class="article-view"><i class="material-icons md-36 width36 color_view">view_list</i></a>#}
{#        <a href="#" class="sorting"></a>#}
{#        <a href="#" class="by_name"></a>#}
{#        <a href="#" class="publish_date"></a>#}
{#        <a href="#" class="modified"></a>#}
{#        <a href="#" class="useful"></a>#}
{#        <a href="#" class="view"></a>#}
{#        <a href="#" class="favorite"></a>#}
{#    </div>#}
{#    <div class="cursor-action"></div>#}
    <div id="feed">
    </div>

{% endblock %}


