<div class="results" style="display: none">
    <div class="col-md-12">
        <table class="table-article table table-condensed table-hover table-striped" id="result_list grid-data">
            <thead>
            <tr>
                <th id="title" data-column-id="title" scope="col" class="column padding-left-list column-title" style="padding: 12px 5px; border-radius: 2px 0 0 0;">TITLE</th>
                <th data-column-id="publish_date" class="column column-publish_date" style="padding: 12px 5px;">PUBLISHED</th>
                <th data-column-id="modified" class="column column-modified" style="padding: 12px 5px;">MODIFIED</th>
                <th data-column-id="big_up" data-type="numeric" scope="col" class="column column-useful_counter" style="padding: 10px 30px 8px 2px;"><i class="table-icon useful material-icons md-18 width18 color_bigup">thumb_up</i></th>
                <th data-column-id="favorites" data-type="numeric" scope="col" class="column column-favorite_counter" style="padding: 10px 30px 8px 2px;"><i class="table-icon favorite material-icons md-18 width18 color_base_favorite">favorite</i></th>
                <th data-column-id="views" data-type="numeric" scope="col" class="column column-view_counter" style="padding: 10px 30px 8px 2px;border-radius: 0 2px 0 0;"><i class="table-icon material-icons remove_red_eye color_base md-18 width18">remove_red_eye</i></th>
            </tr>
            </thead>


            <tbody>

            </tbody>
        </table>
    </div>
</div>