<div class="results" style="display: none">
    <div class="col-md-9">
        <table class="table-article" id="result_list">
            <thead>
            <tr>
                <th scope="col" class="sortable column-title sorted ascending">
                    <div class="text"><a href="#">Title</a></div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-publish_date">

                    <div class="text"><a href="#">Publish date</a></div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-modified">
                    <div class="text"><a href="#">Modified</a></div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-useful_counter">
                    <div class="text"><a href="#">Useful counter</a></div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-favorite_counter">
                    <div class="text"><a href="#">Favorite counter</a></div>
                    <div class="clear"></div>
                </th>
                <th scope="col" class="sortable column-view_counter">
                    <div class="text"><a href="#">View counter</a></div>
                    <div class="clear"></div>
                </th>
            </tr>
            </thead>


            <tbody>

            </tbody>
        </table>
    </div>


    <div class="col-md-3">
        <table id="result_list">
            <thead>
            <tr>
                <th scope="col" class="sortable column-title sorted ascending">
                    <div class="text"><a href="#">Filter</a></div>
                    <div class="clear"></div>
                </th>
            </tr>
            </thead>


            <tbody>

            </tbody>
        </table>
    </div>

</div>