<div class="menu-right settings">
    <h2><i class="material-icons md-36 width36 color_white">settings</i> Settings</h2>
    <div class="action-bar">
{#        <a href="#" class="list-view"><i class="material-icons md-36 width36 color_view">view_module</i></a>#}
{#        <a href="#" class="article-view"><i class="material-icons md-36 width36 color_view">view_list</i></a>#}
{#        <a href="#" class="sorting"></a>#}
{#        <a href="#" class="by_name"></a>#}
{#        <a href="#" class="publish_date"></a>#}
{#        <a href="#" class="modified"></a>#}
{#        <a href="#" class="useful"></a>#}
{#        <a href="#" class="view"></a>#}
{#        <a href="#" class="favorite"></a>#}
    </div>
{#    <div class="cursor-action"></div>#}
</div>
<div class="menu-right notifications">
    <h2><i class="material-icons md-36 width36 color_white">notifications</i> Notifications</h2>
</div>
<div class="menu-right help">
    <h2><i class="material-icons md-36 width36 color_white">help</i> Help</h2>
</div>