<li id="home"           class="static_category"><a>    <i class="fa fa-articles"></i>  Home        </a></li>
<li id="favorites"      class="static_category"><a>    <i class="fa fa-tags"></i>      Favorites   </a></li>
<li id="viewed"         class="static_category"><a>    <i class="fa fa-tags"></i>      Historic    </a></li>
<li id="most_used"      class="static_category"><a>    <i class="fa fa-th-list"></i>   Most Used   </a></li>
<li id="most_viewed"    class="static_category"><a>    <i class="fa fa-th-list"></i>   Most Viewed </a></li>
<li id="most_loved"     class="static_category"><a>    <i class="fa fa-th-list"></i>   Most Loved  </a></li>
<li id="last_update"    class="static_category"><a>    <i class="fa fa-trophy"></i>    Last Updates</a></li>
<li id="recent"         class="static_category"><a>    <i class="fa fa-trophy"></i>    Recent      </a></li>