<!-- MODAL -->
<div class="modal fade modal-submit-articles" id="reset_password" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Reset Password</h4>
            </div>
            <div class="modal-body">

                <form id="resetpass_form" class="form_modal_style">
                    {% csrf_token %}
                    <input type="hidden" id="user_login" name="user_login" value="">
                    <input type="hidden" id="user_key" name="user_key" value="">
                    <label>Enter your new password here</label>
                    <input type="password" class="name_user" name="new_password" id="new_password">
                    <input type="password" class="name_user" name="re_new_password" id="re_new_password">
                    <input type="submit" name="submit" value="Reset" class="btn-submit">
                </form>

            </div>
        </div>
    </div>
</div>

<div class="modal fade modal-submit-articles" data-backdrop="static" data-keyboard="false" id="login_register" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Sign In</h4>
            </div>
            <div class="modal-body">
                <form id="signin_form" class="form_modal_style">
                    {% csrf_token %}
                    <label for="username">
                        Username or Email </label>
                    <input type="text" class="email_user" name="username" id="username">

                    <label for="password">
                        Password </label>
                    <input type="password" class="password_user" id="password" name="password">
                    <div class="clearfix"></div>
                    <input type="submit" name="submit" value="Sign in" class="btn-submit">
                    <a href="javascript:void(0)" class="link_forgot_pass" data-toggle="modal" data-target="#reset_password">Forgot password</a>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bottom in modal-submit-articles" id="modal_change_img" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Change Your Avatar !</h4>
            </div>
            <div class="modal-body">
                <form id="avatar_form" class="form_modal_style">
                    {% csrf_token %}
                    <label for="image">
                        Choose Your Avatar</label>
                    <input id="image" type="file" class="" name="image">
                        <div class="clearfix"></div>
                    <input type="submit" name="submit" value="Submit" class="btn-submit">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bottom in modal-display-article" id="display-article" role="dialog" aria-labelledby="display_article"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-article">
        <div class="modal-stats-article float-menu-left action-bar-modal">


        </div>

        <div class="modal-content modal-content-article">
            <div class="modal-body modal-body-article">

            </div>
{##}
{#            <div class="float-menu-right comments-modal">#}
{#                <div class="favorites"></div>#}
{#                <div class="useful"></div>#}
{#                <div class="feedbacks"></div>#}
{#            </div>#}
        </div>
    </div>
</div>