<!-- MODAL -->

<div class="modal fade bottom in modal-submit-articles" id="modal_change_img" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="fa fa-times"></i>
                </button>
                <h4 class="modal-title modal-title-sign-in" id="myModalLabel">Change Your Avatar !</h4>
            </div>
            <div class="modal-body">
                <form id="avatar_form" class="form_modal_style">
                    {% csrf_token %}
                    <label for="image">
                        Choose Your Avatar</label>
                    <input id="image" type="file" class="" name="image">
                        <div class="clearfix"></div>
                    <input type="submit" name="submit" value="Submit" class="btn-submit">
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bottom in modal-display-article" id="display-article" role="dialog" aria-labelledby="display_article"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-article">
        <div class="modal-stats-article float-menu-left action-bar-modal">


        </div>

        <div class="modal-content modal-content-article">
            <div class="modal-body modal-body-article">

            </div>
{##}
{#            <div class="float-menu-right comments-modal">#}
{#                <div class="favorites"></div>#}
{#                <div class="useful"></div>#}
{#                <div class="feedbacks"></div>#}
{#            </div>#}
        </div>
    </div>
</div>